<div class="btn-group dropstart d-none d-lg-block">
  <button
    type="button"
    class="btn btn-secondary"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Profil
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <div class="d-grid">
        <a class="btn btn-outline-danger" href="#">Odjavi se</a>
      </div>
    </li>
  </ul>
</div>

<div class="nav-item dropdown d-lg-none">
  <hr />
  <button
    type="button"
    class="btn btn-secondary"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Profil
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <div class="d-grid">
        <a class="btn btn-outline-danger" href="#">Odjavi se</a>
      </div>
    </li>
  </ul>
</div>
